* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:#4385e9;
    --secondary: #BBFFFF;
    --tertiary: #1A00FB;
    --dark: #000000;
    --medium: #CACACC;
    --light: #F9FEFF;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    background: linear-gradient(175deg, var(--medium) 0%, var(--light) 100%);
}

/*Header Container: Contains: Title and Navagation Bar*/
header {
    /*Background Image and Style - Header*/
    background-image: url(./images/header.png), linear-gradient(175deg, var(--tertiary) 0%, var(--medium) 100%);
    background-blend-mode: luminosity;
    background-color: var(--medium);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Position and Size - Header*/
    position: static;
    width: 100%;
    height: 10vh;
    /*Display Behavior - Header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Header: Title and Logo*/
h1 {
    /*Background Image and Style - Title and Logo*/
    background-image: url("./images/icon2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter:saturate(250%);
    /*Text Style - Title and Logo*/
    color: var(--medium);
    font-variant: small-caps;
    font-style: oblique;
    font-weight: 500;
    line-height: 1.8;
    /*Block Dimensions - Title and Logo*/
    margin: 0 0 10px;
    padding: 3vh 0;
}

/*Header: Navagation Bar*/
nav {
    /*Block Dimensions - Navagation Bar*/
    margin: 5px 10px 0 20px;
    position: relative;
    top: 35px;

}

/*Header Navagation Bar: Links*/
nav a {
    /*Text Style - Nav Individual Links*/
    color: var(--medium);
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 1.8;
    /*Block Dimensions - Nav Individual Links*/
    padding: 5px 10px;
    margin: 10px 1px;
    /*Display Position - Nav Individual Links*/
    position: relative;
    /*Border and Outline Style - Nav Individual Links*/
    outline: 1px solid;
    outline-color: var(--light);
    outline-offset: 0px;
    /*Mouse Hover Effect Transition - Nav Individual Links*/
    transition: all 0.3s ease;
}

/*Mouse Hover Effect - Navigation Bar: Links*/
nav a:hover {
    /*Background Style - After Hover: Nav Links*/
    background-image: url(./images/00178.png), linear-gradient(27deg, var(--secondary) 0%, var(--medium) 100%);
    background-blend-mode: overlay;
    /*Border and Outline Style - After Hover: Nav Links*/
    border: 0.1px solid var(--secondary);
    outline-color: var(--light);
    outline-offset: 17px;
    /*Box Dimension - After Hover: Nav Links*/
    margin: 17px;
    /*Text Style - After Hover: Nav Links*/
    color: var(--light);
    text-shadow: 2px 2px 2px var(--dark); 
}
/*!!!End of Header Section!!!*/

/*Main Section Container: Contains Background, Profile Photo, Basic Summary*/
.hero-banner {
    /*Background Image and Style - Main Container and Background*/
    background-image: url("../assets/images/main-background.png"), linear-gradient(27deg, var(--secondary) 0%, var(--medium) 100%);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Border Style - Main Container and Background*/
    border: 5px var(--dark) solid;
    /*Block Dimensions - Main Container and Background*/
    height: 40vh;
    /*Display Behavior - Main Container and Background*/
    display: flex;
    justify-content: space-between;
}

/*Main Section: Profile Photo*/
section figure img {
    /*Style - Profile Photo*/
    clip-path: polygon(85% 0%, 79% 34%, 90% 34%, 100% 54%, 37% 100%, 29% 65%, 11% 61%, 3% 41%, 0% 42%, 0% 0%);
    filter: drop-shadow(30px 30px 15px #9206e2);
    filter: grayscale(50%) sepia(75%);
    /*Block Dimensions - Profile Photo*/
    margin: 0 1rem 0 0;
    max-height: 512px;
}

/*Main Section: Basic Summary */
hgroup {
    /*Background Style - Summary*/
    background-color: var(--light);
    box-shadow: inset 65px 0px 100px -50px var(--dark);
    filter: drop-shadow(0px 0px 20px var(--secondary));
    border-radius: 50px 0 0 50px;
    filter: opacity(95%);
    /*Text Style - Summary*/
    color: var(--primary);
    font-size: 110%;
    font-variant: small-caps;
    text-align: center;
    /*Block Dimensions - Summary*/
    margin: 2rem 0 2rem 1rem;
    padding: 5rem;
    /*Display Size - Summary*/
    flex: 0 1 50%;
}

hgroup h2,
hgroup p {
    margin: 1.5rem;
    box-shadow: 0px 15px 8px -9px var(--dark);
}
/*!!!End of Main Section!!!*/

/*Resources Container: Contains everything within About Me, Work and Contact Me*/
.resources {
    /*Block Dimensions - Resources Container*/
    margin: 15px 0;
    padding: 15px 0 0 10px;
    /*Display Behavior - Resources Container*/
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}

/*Resources Headings: Headings - About Me, Work, Contact Me*/
.section-headings {
    /*Background Style - Resources Headings*/
    box-shadow: -10px 0px 8px -3px var(--secondary);
    /*Text Style - Resources Headings*/
    color: var(--primary);
    font-size: 3.0vw;
    text-align: left;
    /*Block Dimensions - Resources Headings*/
    padding-left: 20px;
     /*Display Size - Resources Headings*/
    width: 15vw;
}

/*Resources Sub Container: Contains About Info, Cards and Contact Info*/
.resources div {
    /*Display Size - Resources Sub Container*/
    flex-basis: 80%;
}

/*About Me Section: Information*/
.resources p {
    /*Block Dimensions - About Me Section Info*/
    margin: 30px 10px;
    /*Background Style - About Me Section Info*/
    box-shadow: 0px 15px 8px -7px var(--secondary);
    /*Text Style - About Me Section Info*/
    font-size: 150%;
}
/*!!!End of About Me Section!!!*/

/*Work Section Container - Contains all Project Cards*/
.card-container {
    /*Display Behavior - Work Section Container */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*Individual Project Cards: Contains Text and Background Image*/
.cards {
    /*Border Style - Individual Project Cards*/
    border-radius: 50px 0 0 0;
    border-top: 5px solid var(--primary); 
    border-left: 10px solid var(--secondary); 
    /*Background Style - Individual Project Cards*/
    background-size: 125%;
    background-repeat: no-repeat;
    /*Text Style - Individual Project Cards*/
    text-decoration: none;
    color: var(--light);
    font-variant: small-caps;
    font-size: 1.1em;
    /*Cards Height - Individual Project Cards*/
    /* min-height: 10em; */
    min-height: 15em;
    flex-basis: 47%;
    /*Block Dimensions - Individual Project Cards*/
    margin: 0.5rem;
    /*Display Behavior Inside Cards - Individual Project Cards*/
    display: flex;
    align-items: flex-end;
    /*Display Position - Individual Project Cards*/
    position: relative;
    /*Border and Outline Style - Individual Project Cards*/
    outline: 1px solid;
    outline-color: var(--light);
    outline-offset: 0px;
    /*Mouse Hover Effect Transition - Individual Project Cards*/
    transition: all 0.5s ease;
}

/*First/Main Project Card - Dimension and Size*/
.cards:first-child {
    min-height: 450px;
    flex-basis: 95%;
}

/*Mouse Hover Effect - Project Cards: Links*/
.cards:hover {
    /*Background Style - After Hover: Project Cards*/
    background-repeat: no-repeat;
    background-size: 135%;
    filter: contrast(140%);
    /*Border and Outline Style - After Hover: Project Cards*/
    box-shadow: inset 0px 0px 100px 10px var(--dark);
    border: 0.5px solid var(--light);
    outline-color: var(--secondary);
    outline-offset: 10px;
    /*Outline Offset Overlap*/
    z-index: 1;
}

/*Project Cards - Headers (Headers Within Cards)*/
.cards div {
    /*Background Style - Cards Headers*/
    background-color: var(--medium);
    color: var(--primary);
    filter: opacity(90%);
    /*Blocks Dimensions and Position - Cards Headers*/
    margin-bottom: 10px;
    padding-left: 10px;
    flex-basis: 50%;
}

/* Portfolio Project Images*/
#card1 {
    background-image: url(./images/Shot-Horiseon.png), linear-gradient(175deg, var(--light) 0%, var(--primary) 100%);
}

#card2 {
    background-image: url(./images/Shot-PreWork.png), linear-gradient(175deg, var(--light) 0%, var(--primary) 100%);
}

#card3 {
    background-image: url(./images/Shot-AiArt.png), linear-gradient(175deg, var(--light) 0%, var(--primary) 100%);
}

#card4 {
    background-image: url(./images/00180.png), linear-gradient(175deg, var(--light) 0%, var(--primary) 100%);
}

#card5 {
    background-image: url(./images/00180.png), linear-gradient(175deg, var(--light) 0%, var(--primary) 100%);
}
/* End of Portfolio Project Images*/
/*!!!End of Work Section!!!*/

/*Contact Me Section Container: Contains Address Links*/
#contactme address {
    /*Display Behavior - Contact Me Container*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*Display Size - Contact Me Container*/
    height: 100%;
  }
  
/*Contact Me Individual Links*/
#contactme a {
    /*Text Style - Contact Me: Links*/
    color: var(--medium);
    text-decoration: none;
    font-size: 1.5em;
    font-style: normal;
    line-height: 1.2;
    /*Blocks Dimensions and Position - Contact Me: Links*/
    padding: 1.1%;
    /*Display Behavior - Contact Me: Links*/
    display: flex;
    flex-wrap: wrap;
    /*Display Position - Contact Me: Links*/
    position: relative;
    /*Border and Outline Style - Contact Me: Links*/
    outline: 1px solid;
    outline-color: var(--light);
    outline-offset: 0px;
    /*Mouse Hover Effect Transition - Contact Me: Links*/
    transition: all 0.3s ease;
}

/*Mouse Hover Effect - Contact Me: Links*/
#contactme a:hover {
    /*Background Style - After Hover: Contact Me Links*/
    background-image: url(./images/00178.png), linear-gradient(27deg, var(--secondary) 0%, var(--medium) 100%);
    background-blend-mode: color-burn;
    /*Border and Outline Style - After Hover: Contact Me Links*/
    border: 0.1px solid var(--tertiary);
    outline-color: var(--primary);
    outline-offset: 17px;
    z-index: 1;
    /*Box Dimension - After Hover: Contact Me Links*/
    margin: 17px;
    /*Text Style - After Hover: Contact Me Links*/
    color: var(--light);
    text-shadow: 2px 2px 2px var(--medium); 
}
/*!!!End of Contact Me Section!!!*/

/*Adaptive Layout to Viewport at 992px*/
@media screen and (max-width: 992px) {
    
    /*Header & Contents Within Section: Adjustments to Viewport*/
    header {
        height: 20rem;
        display: block;
        text-align: center;
    }
  
    header h1 {
        color: var(--light);
        font-size: 2.5rem;
        margin: 0;
        padding: 0.5rem;   
    }

    nav {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        flex-basis: 90%;
        padding: 0;
        margin: 0;
    }

    nav a {
        padding: 0;
        margin: 1px;
        width: 90%;
    }
    /*!!!End of Header Section: Adjustment!!!*/

    /*Re-sizing Resources Headers and Containers*/
    .resources h2,
    .resources div {
        flex-basis: 100%;
    }
  
    .resources h2 {
        box-shadow: 0px 15px 8px -7px var(--secondary);
        border-bottom: 4px solid var(--primary);
        margin: 0 0 2.5rem 0;
        padding: 0 0 0.5rem 0;
        text-align: center;
        font-size: 3rem;
    }
    /*!!!End of Resources Section: Resizing and Adjustment!!!*/

    /*Contact Me & Contents Within Section: Display Adjustments*/
    #contactme div {
        margin: 20px 0 50px;
    }

    #contactme address {
        justify-content: center;
        flex-wrap: wrap;
    }

    #contactme a {
        flex: 0 0 45%;
    }
    /*!!!End of Contact Me Section: Display Adjustments!!!*/
}
/*!!!End of Section: Adaptive Layout to Viewport at 992px!!!*/

/*Adaptive Layout to Viewport at 768px*/
  @media screen and (max-width: 768px) {

    /*Project Cards: Stretch to fit content*/
    .cards,
    .cards:first-child {
        flex-basis: 100%;
    }
  
    .cards:first-child {
        min-height: 15em;
    }
  
    /*Contact Me & Contents Within Section: Display Adjustments*/
    #contactme address {
        display: block;
    }

    #contactme address a {
        width: 93%;
        text-align: center;
    }
}
/*!!!End of Section: Adaptive Layout to Viewport at 768px!!!*/