* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:#0967F7;
    --secondary: #BBFFFF;
    --tertiary: #1A00FB;
    --dark: #000000;
    --medium: #CACACC;
    --light: #F9FEFF;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    background-color: var(--light);
}

header {
    background-image: url(./images/header.png), linear-gradient(175deg, var(--tertiary) 0%, var(--medium) 100%);
    background-blend-mode: luminosity;
    background-color: var(--medium);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: static;
    width: 100%;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

h1 {
    background-image: url("./images/icon2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75); */
    font-style: oblique;
    font-weight: 500;
    line-height: 1.8;
    margin-left: 0;
    padding: 3vh 0;
}

nav {
    margin-top: 57px;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.3rem;
    color: var(--light);
}

.hero-banner {
    background-image: url("../assets/images/main-background.png"), linear-gradient(27deg, var(--secondary) 0%, var(--medium) 100%);
    background-blend-mode: multiply;
    background-color: var(--medium);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5vh var(--dark) solid;

    height: 50vh;
    padding: 0;

    display: flex;
    justify-content: flex-start;
}

section figure img {
    clip-path: polygon(85% 0%, 79% 34%, 90% 34%, 100% 54%, 37% 100%, 29% 65%, 11% 61%, 3% 41%, 0% 42%, 0% 0%);
    filter: drop-shadow(30px 30px 15px #9206e2);
    filter: grayscale(50%) sepia(75%);
    margin: 0;
    max-height: 512px;
    max-width: 512px;
}

hgroup {
    background-color: var(--medium);
    margin: 7rem 3rem 0 7rem;
    padding: 7rem 8rem;
    clip-path: polygon(50% 0%, 100% 51%, 50% 100%, 0 50%);
    filter: drop-shadow(6px 7px 11px var(--light));

    color: var(--dark);
    font-weight: 300;
}